{
  "ecmaFeatures": {
    "modules": true,
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "no-undef": 2,
    "no-extra-semi": 1,
    "semi": [2, always],
    "comma-style": [2, last]
  }
}